/* Цвета 
accent-blue-color #2196F3; 
header-background: #FFFFFF;
body-background: #F5F5F5
footer-background: #2F303A;
text-color: #212121
secondary-text-color: #757575;
contancts-txt-clr: rgba(255, 255, 255, 0.6);
*/
:root {
  --accent-blue-color: #2196f3;
  --header-background: #ffffff;
  --body-background: #f5f5f5;
  --footer-background: #2f303a;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --contancts-txt-clr: rgba(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
  --buton-active-color: #188ce8;
}
/* Тіло */
body {
  background-color: var(--body-background);
  font-family: Roboto, sans-serif;
  color: var(--text-color);
}

.main {
  background-color: var(--header-background);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--header-background);
}

.benefit {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefit-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.work-examples,
.ours-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/*.team {
  background-color: var(--button-color);*/
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.name-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.logo {
  font-family: Raleway;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-blue-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.hero.bttn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-background);
  background-color: var(--accent-blue-color);
  cursor: pointer;
}

.hero.bttn:hover {
  background-color: var(--buton-active-color);
}

.bttn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background: var(--button-color);
  border-radius: 4px;
  border: none;
}
.bttn:hover,
.bttn:focus {
  color: #ffffff;
  background-color: var(--accent-blue-color);
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*  Лого та лінки*/

.logo.top {
  color: var(--text-color);
}

.link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

/* .link:visited {color: inherit;} */

ul {
  list-style: none;
}

/* Шапка */
.head {
  background-color: var(--header-background);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.head .contact {
  color: var(--secondary-text-color);
}
.link:hover,
.link:focus,
.link.address:hover,
.link.address:focus {
  color: var(--accent-blue-color);
}

.link.current {
  color: var(--accent-blue-color);
}

/* Підвал */
.footer,
.hero {
  background-color: var(--footer-background);
}

.logo.bottom, a[href="https://goo.gl/maps/kp1o5WoaLA6S5hVg9"]
{
  color: var(--header-background);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link.address {
  color: var(--contancts-txt-clr);
}
